<h2>Catalog</h2>

<div class='item' *ngFor="let item of items">
    <div>
        <span> {{item.name}}  </span>
        <hr>
        <span> Price: {{item.price | currency}}  </span>
        <hr>
        <span> Amount available: {{item.amount}}</span>
    </div>
    <img src="{{item.imagePath}}" width="150" height="100">
    <label>
        Request:
        <input type="number" [(ngModel)]="item.request">
    </label>
    <button class="btn btn-primary" (click)="addToCart(item)">Add To Cart</button>

</div>
